/.project
/GetAggregatedAccessLogsForPatient-schemas/*.project
/GetAggregatedAccessLogsForPatient-schemas/*.classpath
/.settings
/GetAggregatedAccessLogsForPatient-teststub/*.project
/GetAggregatedAccessLogsForPatient-teststub/*.classpath
/GetAggregatedAccessLogsForPatient/*.project
/GetAggregatedAccessLogsForPatient-schemas/.settings/*.prefs
/GetAggregatedAccessLogsForPatient/*.classpath
*.prefs
target
